<h1>LOREM IPSUM</h1>
<br>
<h6>LOREM IPSUM</h6>
<br>
<ul>
    <li class="header-list">
        <span>
            Lorem Ipsum
        </span>
        |
    </li>
    <li class="header-list">
        <a href="tel:+">(00) 0 0000-0000</a>
        |
    </li>
    <li class="header-list">
        <span>
            <a href="mailto:lorem@ipsum.com">lorem@ipsum.com</a>
        </span>
        |
    </li>
    <li class="header-list">
        <span>
            <a target="_blank" href="#">Lorem Ipsum</a>
        </span>
        |
    </li>
    <li class="header-list">
        <span>
            <a target="_blank" href="#">Lorem Ipsum</a>
        </span>
    </li>
</ul>
