<header class="container-fluid text-center p-2">
  <!--<h1>CAPA - Curriculum Application Project in Angular</h1> -->
</header>

<main class="container d-flex flex-sm-row py-2 px-4">
  <section class="col">
    <app-header [personalData]="curriculum.personalData"></app-header>
    <hr />
    <app-professional-summary
      [summary]="curriculum.summary"
    ></app-professional-summary>
    <hr />
    <app-professional-experience
      [experiences]="curriculum.experiences"
      class="horizontal-row"
    ></app-professional-experience>
    <hr />
    <app-education [educationList]="curriculum.education"></app-education>
    <hr />
    <app-courses [courses]="curriculum.courses"></app-courses>
    <hr />
    <app-skills [skills]="curriculum.skills"></app-skills>
    <hr />
    <app-languages [languages]="curriculum.languages"></app-languages>
    <hr />
    <app-project [projects]="curriculum.projects"></app-project>
    <hr />
    <app-footer></app-footer>
  </section>
  <section class="design-side-bar"></section>
</main>

<footer id="footer" class="container-fluid text-center p-3 my-5 py-5">
  <p><b>Desenvolvido com muito <i class="bi bi-cup-hot-fill"></i> por </b> Victor Santos, Gyan Ribeiro, Analice Marques, Kelton Machado e Danielle Vieira</p>
  <hr>
  <p><b>Santander Coders 2023</b> - Turma 1005</p>
</footer>
