.design-side-bar {
    background-color: #ff914d;
    width: 20px;
    margin-left: 5px;
}

main {
    max-width: 210mm;
    min-height: 290mm;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    border-radius: 8px; 
}