<div class="d-flex flex-column m-5 text-center">
  <h3>Formulário Proposta</h3>
  <form [formGroup]="formProposal" class="d-flex flex-column mt-2">

    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="name" name="name" />
      <mat-error> {{formProposal.controls['name'].errors?.['required'] ? 'Campo Obrigatório' : 'O seu nome deve possuir mais de 2 caracteres'}} </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>E-mail</mat-label>
      <input matInput formControlName="email" name="email" />
      <mat-error> {{formProposal.controls['email'].errors?.['required'] ? 'Campo Obrigatório' : 'Digite um e-mail válido'}} </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Empresa</mat-label>
      <input matInput formControlName="company" name="company" />
      <mat-error>O nome da empresa deve possuir mais de 2 caracteres</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Telefone</mat-label>
      <input matInput formControlName="phone" name="phone" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Proposta</mat-label>
      <input matInput formControlName="proposal" name="proposal" />
      <mat-error> {{formProposal.controls['proposal'].errors?.['required'] ? 'Campo Obrigatório' : 'A sua proposta deve possuir mais de 5 caracteres'}} </mat-error>
    </mat-form-field>
    <button mat-flat-button color="primary" [disabled]="formProposal.invalid" (click)="sendProposal()" class="mb-2">Enviar</button>
    <button mat-flat-button color="warn" [mat-dialog-close]>Cancelar</button>
  </form>
</div>
