/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.cdnfonts.com/css/glacial-indifference-2');
@import url('https://fonts.cdnfonts.com/css/tt-chocolates');

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
    font-family: 'TT Chocolates', sans-serif;
    font-size: 9pt;
    background-color: #ffffff;
    color: #2f2f2f;

    h1,h2 {
        font-family: 'Glacial Indifference', sans-serif;
    }
    
    h1 {
        font-size: 38pt;
    }
    
    h2 {
        font-size: 12.6pt;
    }

    h2, h3 {
        font-weight: bold;
    }
    
    h3 {
        text-transform: uppercase;
        font-size: 9.5pt;
    }

    h4 {
        font-weight: normal;
        font-size: 10pt;
    }
}

.side-bar-color {
    background-color: #ff914d;
}

mat-card {
    box-shadow: none !important;

    mat-card-header {
        padding: 0 !important;
    }

    mat-card-content {
        padding-left: 0 !important;
    }
}
