/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.cdnfonts.com/css/glacial-indifference-2');
@import url('https://fonts.cdnfonts.com/css/tt-chocolates');

@import "~bootstrap-icons/font/bootstrap-icons.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
    font-family: 'TT Chocolates', sans-serif;
    font-size: 9pt;
    background-color: #f5f5f5;
    color: #2f2f2f;

    h1,h2 {
        font-family: 'Glacial Indifference', sans-serifF;
    }
    
    h1 {
        font-size: 38pt;
    }
    
    h2 {
        font-size: 12.6pt;
    }

    h2, h3 {
        font-weight: bold;
    }
    
    h3 {
        text-transform: uppercase;
        font-size: 9.5pt;
    }

    h4 {
        font-weight: normal;
        font-size: 10pt;
    }
}

mat-card {
    box-shadow: none !important;

    mat-card-header {
        padding: 0 !important;
    }

    mat-card-content {
        padding-left: 0 !important;
    }
}
.header-style > h1{
    margin-top: 25px;
    text-align: center;
    text-transform: uppercase;
}
.header-style > h6{
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
.header-style > ul{
    list-style-type: none;
    text-align: center;
}
.header-style > ul > li{
    display: inline;
}

.header-style > ul > .header-list{
    margin-right: 5px;
}

.header-style > ul> li > span {
    padding-right: 5px;
}

.header-style > ul > li > a, .header-style > ul > li > span > a {
    color: #000;
    text-decoration: none;
}

.header-style > ul > #social-links {
    text-decoration: underline;
}

#footer {
    background-color: #101414;
}

#footer > p {
    color: #f5f5f5;
    font-size: 16px;
}

#footer > p > b {
    color: #ff944c;
}

#footer > hr {
    color: #f5f5f5;
}